<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlj.dao.TrainInDao">

    <!-- 目的：为dao接口方法提供sql语句配置
           通过一个站点搜索
     -->

    <!--通过id搜索-->
    <select id="queryById" resultType="com.wlj.model.TrainInformation">
        SELECT
        id,trains_id trainsId,site_id siteId,stand_name standName,arrival_time arrivalTime,driving_time drivingTime
        FROM  train_imformation where  id = #{id}
    </select>

    <!-- 通过一个站点搜索-->
    <select id="queryByName" resultType="com.wlj.model.TrainInformation">
SELECT
   sp2.trains_id  trainsId,
   sp.stand_name startName ,
   sp.arrival_time arrivalTime,
   sp2.stand_name  midName,
   sp4.stand_name endName,
   sp4.driving_time drivingTime
FROM
 train_imformation sp ,
 train_imformation sp2 ,
 train_imformation sp4
WHERE  (sp.trains_id = sp2.trains_id ) and (sp2.trains_id= sp4.trains_id)
     and ( sp.site_id  = (select MIN(site_id) from train_imformation  where trains_id= sp2.trains_id))
     and (sp4.site_id =( select MAX(site_id) from train_imformation  where trains_id= sp2.trains_id))
     and sp2.stand_name LIKE concat('%',#{stand_name},'%')

   </select>

           <!--通过两站点搜索直达线路-->
   <select id="queryByTwoName" resultType="com.wlj.model.TrainInformation">
      SELECT
       sp.trains_id trainsId ,sp.stand_name startName, sp.arrival_time arrivalTime ,
	   sp2.stand_name  endName,sp2.driving_time drivingTime,
	   floor( TIMESTAMPDIFF(MINUTE,sp.left_time,sp2.left_time) / 60 )  hou ,
	   TIMESTAMPDIFF(MINUTE,sp.left_time,sp2.left_time)%60  mi ,
	   round(ABS(sp2.mileage - sp.mileage)*0.4637,1)  firstClassFare,
	   round(ABS(sp2.mileage - sp.mileage)*0.3562,1)  secondClassFare,
	   round(ABS(sp2.mileage - sp.mileage)*0.2563,1)  hardSeatFare,
	   round(ABS(sp2.mileage - sp.mileage)*0.2563,1)  standFare,
	   round(ABS(sp2.mileage - sp.mileage)*0.4263,1)  hardSleeperFare
      FROM    train_imformation sp ,train_imformation sp2
      WHERE  (sp.trains_id = sp2.trains_id )  and (sp2.site_id > sp.site_id )
      and sp.stand_name LIKE concat('%',#{startName},'%')  AND sp2.stand_name like  concat('%',#{endName},'%');
   </select>


    <!--通过两站点搜索换乘线路-->
    <select id="queryByTwoNameTransfer"  resultType="com.wlj.model.TrainInformation">
        SELECT
   sp.trains_id firstTrainsId,
   sp.stand_name startName,
   sp.driving_time drivingTime,
   sp2.stand_name midName,
   	floor(TIMESTAMPDIFF(MINUTE,sp.driving_time,sp6.arrival_time)/60)  as  hou,
	TIMESTAMPDIFF(MINUTE,sp.driving_time,sp6.arrival_time)%60   as  mi,
   floor(TIMESTAMPDIFF(MINUTE,sp2.driving_time,sp4.arrival_time)/60)    midHou,
   TIMESTAMPDIFF(MINUTE,sp2.driving_time,sp4.arrival_time)%60  midMi,
   sp2.arrival_time midArrivalTime,
   sp4.trains_id secondTrainsId,
   sp4.driving_time  midDrivingTime,
   sp6.stand_name endName,
   sp6.arrival_time arrivalTime
FROM
 train_imformation sp ,
 train_imformation sp2 ,
 train_imformation sp4 ,
 train_imformation sp6
WHERE(sp.trains_id = sp2.trains_id) and ( sp4.trains_id !=sp2.trains_id )and (sp4.trains_id=sp6.trains_id)
and (sp2.stand_name=sp4.stand_name) and (sp2.site_id>sp.site_id) and   (TIMESTAMPDIFF(MINUTE,sp2.driving_time,sp4.arrival_time)>45)
and  floor(TIMESTAMPDIFF(MINUTE,sp.driving_time,sp6.arrival_time)/60) >0
and  (sp6.site_id>sp4.site_id) and sp.stand_name LIKE concat('%',#{startName},'%') AND sp6.stand_name  like  concat('%',#{endName},'%')
order  by  hou, mi , midHou,midMi;
    </select>


    <!--  通过车次搜索该车次所有信息-->
    <select id="queryByTrainsId" resultType="com.wlj.model.TrainInformation">
        SELECT
        id,trains_id trainsId,site_id siteId,stand_name standName,arrival_time arrivalTime,driving_time drivingTime
        from  train_imformation WHERE trains_id  like  concat('%', #{trainsId},'%')

    </select>


    <!-- 通过车次搜索此车次信息  始发站——终点站     -->
    <select id="queryByTrainsIdForImformation" resultType="com.wlj.model.TrainInformation">
SELECT
   sp.trains_id  trainsId ,
   sp.stand_name startName,
   sp.arrival_time  arrivalTime,
   sp2.stand_name endName,
   sp2.driving_time drivingTime
FROM
   train_imformation sp ,
   train_imformation sp2
WHERE  (sp.trains_id = sp2.trains_id )
     and (sp.site_id  = (select MIN(site_id) from train_imformation  where trains_id= sp.trains_id))
     and (sp2.site_id =( select MAX(site_id) from train_imformation  where trains_id= sp.trains_id))
     and sp.trains_id  like  concat('%', #{trainsId},'%')
    </select>

<!--插入数据  -->
    <insert id="insertTrainInformation" parameterType="com.wlj.model.TrainInformation">
       insert  into
       train_imformation (trains_id,site_id,stand_name,arrival_time,driving_time,left_time,mileage)
       values (#{trainsId},#{siteId},#{standName},#{arrivalTime},#{drivingTime},#{leftTime},#{mileage})
</insert>


    <!--删除数据-->
    <delete id="deleteTrainInformation"  parameterType="int">

        delete  from train_imformation where id = #{id}

    </delete>

    <!--编辑数据-->
    <update id="updateTrainInformation" parameterType="com.wlj.model.TrainInformation">
         UPDATE train_imformation
         set stand_name= #{standName} ,trains_id=#{trainsId},site_id = #{siteId},arrival_time=#{arrivalTime} ,driving_time=#{drivingTime}
         where   id = #{id}
    </update>

</mapper>
